extends layout

block content
		.row.commanalign
			.col-md-10.col-md-offset-1
				div.hotelinformationview
					if message
						h1.errormessage #{message}
					else
						h1.errormessage Can not process your request due to some internal Error. Please try again after some time.
					a(href='/').btn.btn-info.navbar-btn(type='button') Home