doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='//code.jquery.com/jquery-2.1.3.min.js')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    script(rel='javascript',src='/javascripts/bootstrap.min.js')

  body
    block content