doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/classic.css')
    link(rel='stylesheet', href='/stylesheets/classic.date.css')
    link(rel='stylesheet', href='//code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css')
    //- link(rel='stylesheeet', href='//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css')
    script(src='//code.jquery.com/jquery-1.10.2.js')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.1.47/jquery.form-validator.min.js')
    script(src='//code.jquery.com/ui/1.11.3/jquery-ui.js')
    script(rel='javascript',src='/javascripts/picker.js')
    script(rel='javascript',src='/javascripts/picker.date.js')
    script(rel='javascript',src='/javascripts/common.js')
    script(src='https://maps.googleapis.com/maps/api/js?sensor=false&libraries=places', type='text/javascript')
    script(rel='javascript',src='/javascripts/autocomplete.js')
    script(type='text/javascript').
        google.maps.event.addDomListener(window, 'load', initialize);

    //- script(src='//code.jquery.com/ui/1.11.2/jquery-ui.js')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    script(rel='javascript',src='/javascripts/bootstrap.min.js')

  body
    nav.navbar.navbar-default.navbar-fixed-top
                .navbar-header.navbar-brand.container-fluid
                    .logo
                        B Hotel Aggregator
                if (user)
                    .navbar-right.align
                        img.loginimagesize(src=user.image)
                        a(href='/users/signout').btn.btn-info.navbar-btn.align(type='button') SignOut
                        .navbar-text
                            p Signed in as #{user.firstname} #{user.lastname}
                    
                    
                else
                    .navbar-right.align
                        a(href='/users/auth/facebook') 
                            img.size(src='/images/fblogin.png')
                        &nbsp; &nbsp;   
                        a(href='/users/login').btn.btn-info.navbar-btn(type='button') Login
    block content
