doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/classic.css')
    link(rel='stylesheet', href='/stylesheets/classic.date.css')
    //- link(rel='stylesheeet', href='//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css')
    script(src='//code.jquery.com/jquery-1.10.2.js')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.1.47/jquery.form-validator.min.js')
    script(rel='javascript',src='/javascripts/picker.js')
    script(rel='javascript',src='/javascripts/picker.date.js')
    script(rel='javascript',src='/javascripts/common.js')
    

    //- script(src='//code.jquery.com/ui/1.11.2/jquery-ui.js')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    script(rel='javascript',src='/javascripts/bootstrap.min.js')

  body
    nav.navbar.navbar-default.navbar-fixed-top
                .navbar-header.navbar-brand.container-fluid
                    .logo
                        B Hotel Aggregator
                .navbar-right.homebuttonalign
                    a(href='/users/auth/facebook') 
                            img.size(src='../images/fblogin.png')
                    &nbsp; &nbsp;
                    a(href='/').btn.btn-info.navbar-btn(type='button') Home

        

    block content

