doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/classic.css')
    link(rel='stylesheet', href='/stylesheets/classic.date.css')
    //- link(rel='stylesheeet', href='//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css')
    script(src='//code.jquery.com/jquery-1.10.2.js')
    script(rel='javascript',src='/javascripts/picker.js')
    script(rel='javascript',src='/javascripts/picker.date.js')
    script(rel='javascript',src='/javascripts/common.js')

    //- script(src='//code.jquery.com/ui/1.11.2/jquery-ui.js')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    script(rel='javascript',src='/javascripts/bootstrap.min.js')

  body
    block content