extends layout

block content
	.row.commanalign
			.col-md-10.col-md-offset-1
				div.hotelinformationview
					h3 Call us
					p
						B Direct: 
						|1860 500 2121
					p 
						B From abroad: 
						|+91 (0)124 487 3888
					p We're here for you 24 hours a day.
					h3 Email us
					p admin@akaruilabs.com
					p rahul@akaruilabs.com
				a(href='/').btn.btn-info.navbar-btn(type='button') Home