
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  font-size: 20px;
  text-decoration: none;
}

.btn-search-hotel{
	width: 100%;
	background-color: #34A14A !important;
	border-color: #34A14A !important;
}

.searchForm{
	background-color: #F2F2F2;
  padding-top: 20px;
  padding-bottom:20px;
  margin-top:70px;
}

.starcolor {
	display: inline;
  text-align: left;
  border-top: 0;
  border-left: 0px;
	color: rgb(245, 10, 37);
	font-size: 20px;
}

pre{
	background-color: #FFEBCD;
}

.heading{
	background-color: #FA0808;
}

.rate{
	font-family: "Times New Roman", Georgia, Serif;
	font-size: 25px;
	color: #D2691E;
  margin-top:20px;
}

.small{
	font-size: 10px !important;
	font-family: "Times New Roman", Georgia, Serif !important;
	color: black !important;
}

.welcome{
	font-size: 15px;
	font-family: "Times New Roman", Georgia, Serif;
	color:rgba(21, 6, 231, 0.74) !important;
}

.message{
	font-size: 20px;
	font-family: "Times New Roman", Georgia, Serif;
	color: red;
}

.formheading{
	font-size: 20px;
	font-family: "Times New Roman", Georgia, Serif;
	color: rgb(0, 119, 255);
	text-align: center;
	background-color: rgba(250, 201, 8, 0);
}

.account-wall{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.form-signin input[type="password"]{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-signin input[type="password"].nomargin{
	margin-bottom: 0px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

h2.error-message{
    color: red;
}

.login-title{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}

.size{
  height: 31px;
  width: 30px;
  text-decoration: none;
  margin-top: 4px;
}

.hotelimage{
  width: 180px;
  height: 200px;
  margin-top: 0;
}

.hotelname{
  font-size: 20px;
  font-family: "Times New Roman", Georgia, Serif;
  color: rgb(54, 89, 181);
  margin-top: 10px;
}

.shortdescription{
  font-size: 11px;
  font-family: "Times New Roman", Georgia, Serif;
  color: rgba(0, 0, 0, 0.74)
}

.hotellistview{
  background-color: #FFEBCD;
  margin-bottom: 20px;
}

.loginimagesize{
  height:60px;
  padding-right: 20px;
}

.logo{
  font-size:45px !important;
  font-family: "Times New Roman", Georgia, Serif;
  color:#F7520A;
}

.homebuttonalign{
  margin-right: 20px !important;
}

.align{
  margin-right: 100px !important;
}

.hotelinformationname{
  font-size: 25px;
  font-family: "Times New Roman", Georgia, Serif;
  display: inline;
}

.hotelinformationview{
  background-color: #FFEBCD;
  margin-bottom: 20px;
  padding:20px;
}

.infostarcolor {
  display: inline;
  text-align: left;
  border-top: 0;
  border-left:50px;
  color: rgba(255, 87, 0, 0.86);
  font-size: 20px;
}

.hotelinformationaddress{
  font-size: 15px;
  font-family: "Times New Roman", Georgia, Serif;
}

.locationDescription{
  font-size: 15px;
  font-family: "Times New Roman", Georgia, Serif;
  color:black;
  display: inline;
}

.slidersize{
  width:500px !important;
  height: 300px !important;
}

.hotelinformationimage{
  width:500px !important;
  height:300px !important;
}

.hotelamenties{
  font-size: 12px;
  font-family: "Times New Roman", Georgia, Serif;
  color: rgba(0, 0, 0, 0.4);
}

.caption{
  font-size: 15px;
  font-family: "Times New Roman", Georgia, Serif;
  color: rgba(0, 0, 0, 0.4);
  text-align: center;
}

.tableview{
  width: 100% !important;
}
.tablerowview{
  border-bottom:3px solid !important;
}

.tablepadding{
  padding: 20px !important;
}

.bookingform{
  
  background-color: #F2F2F2;
  padding-top: 10px;
  padding-bottom:10px;
  margin-top: 15px;
}
.terms{
  display:inline;
  color:blue;
  font-family: "Times New Roman", Georgia, Serif;
}

.cancellationcheck{
  display:inline;
  color:rgb(119, 83, 83);
  font-family: "Times New Roman", Georgia, Serif;
}

.errormessage{
  font-size: 20px;
  font-family: "Times New Roman", Georgia, Serif;
  color:red;
}

.cancelbuttonalign{
  margin-right: 50px !important;
}

.commanalign{
  margin-top:70px;
}

.backbuttonalign{
  margin-top:70px;
  margin-left:10px;
}

.internaltablepadding{
  padding-left: 20px !important;
}

.tableheading{
  font-size: 20px !important;
  font-family: "Times New Roman", Georgia, Serif !important;
}

.roomtype{
  font-size: 15px !important;
  font-family: "Times New Roman", Georgia, Serif !important;
  font-weight: bold !important;
  color: rgba(217, 83, 79, 1) !important;
}

.disclaimer{
  font-size: 15px;
  font-family: "Times New Roman", Georgia, Serif;
  color: rgb(52, 18, 176);
  margin-left: 20px;
}

.mybooking-btn{
  margin-left: 50px !important;
}

.photodisclaimer{
  font-size: 10px;
  font-family: "Times New Roman", Georgia, Serif;
  margin-bottom: 10px;
}

.totalcharge{
  padding-top: 10px;
  display:inline;
  font-size: 25px;
  font-family: "Times New Roman", Georgia, Serif;
  color:red;
  font-weight: bold;
}

.roomnumberalign{
  margin-top:25px;

}

.room{
  font-size: 20px;
  font-family: "Times New Roman", Georgia, Serif;
  color: red;
}

.checkInInstructions{
  font-family: "Times New Roman", Georgia, Serif;
  margin-left: 20px;
}

.cardimagesize{
  height: 30px ;
  width: 60px ;
}

.termsandcondition{
  font-size: 15px !important;
  font-family: "Times New Roman", Georgia, Serif;
  color: #5B5C5C !important;
  text-align: center !important;
}

.checkOutTime{
  display:inline;
  margin-left:300px;
}

.nonRefundable{
  font-family: "Times New Roman", Georgia, Serif;
  font-size: 15px;
  color: rgba(111, 78, 78, 0.8);

}