body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.btn-search-hotel{
	width: 100%;
	background-color: #34A14A !important;
	border-color: #34A14A !important;
}
.searchForm{
	padding: 20px;
	background-color: #F2F2F2;
}
.starcolor {
color: rgb(245, 10, 37);
font-size: 20px;
}
pre{
	background-image: url("../images/preback.jpg");
}
.heading{
	background-color: #FA0808;
}





