body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.btn-search-hotel{
	width: 100%;
	background-color: #34A14A !important;
	border-color: #34A14A !important;
}
.searchForm{
	padding: 20px;
	background-color: #F2F2F2;
}
.starcolor {
	display: inline;
	color: rgb(245, 10, 37);
	font-size: 20px;
}
pre{
	background-color: #FFEBCD;
}
.heading{
	background-color: #FA0808;
}
.rate{
	font-family: "Times New Roman", Georgia, Serif;
	font-size: 25px;
	color: #D2691E;

}
span{
	font-size: 10px;
	font-family: "Times New Roman", Georgia, Serif;
	color: black;
}





